<div class="container">
  <div class="row">
    <% @restaurants.sort.reverse.each do |restaurant| %>
      <div class="col-md-4 text-center">
        <div class="card">
          <div class="card__blur">
            <%= restaurant_all_image(restaurant) %>
          </div>
          <div class="card__logo text-center">
            <%= restaurant_avatar(restaurant) %>
          </div>
          <div class="card__info mt-4">
            <h4><%= restaurant.name %></h4>
            <p><%= restaurant.description %></p>
            <p>RATING STARTS</p>
          </div>
          <footer class="card__footer"><%= link_to 'View Products', restaurant_path(restaurant), class:"text-white" %></footer>
        </div>
      </div>
    <% end %>
  </div>
</div>
