<div class="jumbotron">
  <div class="container-fluid">
    <div class="header-content-inner">
      <h1>Welcome to Dinner Dash restaurant</h1>
      <h3>We are proud of our long history of making delicious meals, warm and
        friendly atmosphere and professional staff.</h3>
    </div>
  </div>
</div>
<section id="products">
  <h1>Products for sale</h1>
  <%= render 'items' %>
</section>
<section id="restaurant" class="restaurats_all_welcome">
  <h1>Restaurants</h1>
  <%= render 'restaurants' %>
</section>
<section class="bg-about bg-section" id="about">
  <%= render 'about' %>
</section>
<section class="bg-service bg-section" id="service">
  <%= render 'services' %>
</section>
<section class="bg-testimonials" id="testimonials">
  <%= render 'testimonial' %>
</section>
<section class="bg-contact bg-section" id="contact">
  <%= render 'contact' %>
</section>
