<% if @order_item.length > 0 %>
  <div class="p-cart pt-5 mt-5">
    <div class="purchase overflow-auto">
      <header>
        <div class="row">
          <div class="col-sm-3 col-3">
            <img src="https://www.qbrobotics.com/wp-content/uploads/2018/03/sample-logo-490x200.png" class="img-responsive" alt="Dinner Dash">
          </div>
          <div class="col-sm-9 col-9 company-details">
            <div>Dinner Dash DHA Lahore</div>
            <div>company phone +92315 000 0000</div>
            <div>company fax +92315 000 0000</div>
          </div>
        </div>
      </header>
      <main>
        <div class="row">
          <div class="col-sm-3 col-3 to-details">
            <div>PURCHASED ORDER FOR :</div>
            <div class="to-name"><%= @order_item.first.order_detail.user.full_name %></div>
            <div class="to-address"><%= @order_item.first.order_detail.address %></div>
          </div>
          <div class="col-sm-9 col-9 purchase-info">
            <div class="info-date">Issued : <%= @order_item.first.order_detail.created_at.to_formatted_s(:long_ordinal) %></div>
            <div class="info-date text-capitalize bold">Order Status : <%= @order_item.first.order_detail.status %></div>
            <% if @order_item.first.order_detail.created_at.strftime('%Q') != @order_item.first.order_detail.updated_at.strftime('%Q') %>
              <div class="info-date">updated at : <%= @order_item.first.order_detail.updated_at.to_formatted_s(:long_ordinal) %></div>
            <% end %>
            <%= render 'form' %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-12 table-responsive">
            <table class="table table-condensed" border="0" cellspacing="0" cellpadding="0" width="100%">
              <thead>
                <tr>
                  <th class="text-center col-1 col-sm-1">#</th>
                  <th class="text-center col-7 col-sm-7">Name</th>
                  <th class="text-center col-1 col-sm-1">Qty</th>
                  <th class="text-center col-2 col-sm-2">Amount (single/piece)</th>
                  <th class="text-center col-1 col-sm-1">Amount</th>
                </tr>
              </thead>
              <tbody>
                <% @order_item.sort.reverse.each_with_index do |item, index| %>
                  <tr>
                    <td class="col-1 col-sm-1 text-center"><%= index + 1 %></td>
                    <td class="text-center"><%= item.item.name %></td>
                    <td class="text-center"><%= item.quantity %> Pcs</td>
                    <td class="text-center"><%= item.price %></td>
                    <td class="text-right"><%= item.quantity * item.price %></td>
                  </tr>
                <% end %>
              </tbody>
              <tfoot>
                <tr>
                  <th colspan="3">
                    Information<br>
                    Information content
                  </th>
                  <th class="text-center">Total</th>
                  <th class="text-right"><%= @order_item.first.order_detail.grand_total%></th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </main>
    </div>
  </div>
<% end %>
