<div class="container-fluid w-75 mx-auto sc mt-5 pt-5">
  <% if @items.length > 0 %>
    <h2 class="text-center mt-5">Cart</h2>
    <table id="cart" class="table table-hover table-condensed">
      <thead>
        <tr>
          <th style="width:50%">Product</th>
          <th style="width:10%">Price</th>
          <th style="width:8%">Quantity</th>
          <th style="width:22%" class="text-center">Subtotal</th>
          <th style="width:10%"></th>
        </tr>
      </thead>
      <tbody class="items">
        <%= render 'cart' %>
      </tbody>
      <tfoot>
        <tr class="visible-xs">
          <td class="text-center"><strong>Total <%= @total %></strong></td>
        </tr>
        <tr>
          <td>
            <%= link_to ' Continue Shopping', root_path, class: "btn btn-warning fa fa-angle-left" %>
          </td>
          <td colspan="2" class="hidden-xs"></td>
          <td class="hidden-xs text-center"><strong>Total Rs.  <%= @total %></strong></td>
          <td>
            <%= checkout(current_user) %>
          </td>
        </tr>
      </tfoot>
    </table>
  <% else %>
    <%= render 'emptycart' %>
  <% end %>
</div>
