<div class="mx-auto my-5 py-5 w-100">
  <div class="card mx-auto" style="width: 18rem;">
    <%= item_avatar(@item) %>
    <div class="card-body">
      <h5 class="card-title"><%= @item.name %></h5>
      <p class="card-text"><%= @item.description %></p>
      <p><%= @item.price %></p>
      <% if current_user.user? %>
        <%= form_for(@cart, remote: true) do |f| %>
          <%= f.hidden_field :item_id, value: @item.id %>
          <%= f.hidden_field :price, value: @item.price %>
          <%= f.hidden_field :restaurant_id, value: @item.restaurant_id %>
          <div class="form-group">
            <%= f.hidden_field :quantity, value: 1 %>
          </div>
          <%= f.submit "Add to cart", class: 'btn btn-primary btn-sm w-50' %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="mx-auto w-100 text-center mt-5">
    <h3>All Images</h3>
    <div class="container-fluid mt-5">
      <div class="row">
        <% @item.item_image.sort.reverse.each do |image| %>
          <div class="col-md-4 text-center">
            <div class="mw-75">
              <% if @item.item_image.count > 1 && current_user.admin? %>
                <%= link_to 'x', delete_image_attachment_item_url(image.id), method: :delete,
                        data: { confirm: 'Are you sure?' }, class:"close delete_img" %>
              <% end %>
              <%= image_tag image, class:"w-100 mt-2" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
