<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav mt-5 pt-3">
    <li class="sidebar-brand">
      <%= link_to 'Dinner Dash v2', root_path %>
    </li>
    <% if user_signed_in? == true   %>
      <li>
        <%= link_to 'Previous Orders', orders_path %>
      </li>
      <% if current_user.admin? %>
        <li>
          <%= link_to 'Items', items_path %>
        </li>
        <li>
          <%= link_to 'Restaurants',restaurants_path %>
        </li>
        <li>
          <%= link_to 'Categories', categories_path %>
        </li>
      <% end %>
      <li>
        <%= link_to 'Logout', destroy_user_session_path, class:"nav-link", method: :delete %>
      </li>
    <% end %>
  </ul>
</div>
<!-- /#sidebar-wrapper -->
