<!DOCTYPE html>
<html>
  <head>
    <title>Dinner Dash</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="wrapper">
      <%= render "layouts/sidebar" %>
      <div id="page-content-wrapper">
        <%= render "layouts/navbar" %>
        <div class="content">
        <%= render 'layouts/notification' %>
        <%= yield %>
        </div>
        <%= render "layouts/footer" %>
      </div>
    </div>
  </body>
</html>
